.holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    padding: 5rem;
}

.card {
    border: 1px solid rgb(8, 108, 175);
    border-radius: 4px;
    width: 100%;
    height: 300px;
}
.card-front {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    padding-left: auto;
    text-align: center;
}
.card-back {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}